html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body {
    font-family: 'Montserrat', sans-serif;
}
main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 50px);
    padding: 125px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
}
input{
    border-width: 0px;
    height: 40px;
    background-color: azure;
    text-underline: #191919;
    font-family: 'Montserrat', sans-serif;
}
.disappointed-face,.title {
    font-size: calc(4vw + 65px);
    line-height: 1;
}
.error-code {
    font-size: 65px;
    line-height: 1;
    text-transform: uppercase;
    color: #191919;
}